/*Remove big arse /unnecessary top-margin from icontabbar with no icons*/
.sapMITBHead.sapMITBInLine.sapMITBTextOnly{
    margin-top: 0px !important;
}

/*Style block quotes with identation and left border*/
blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}

/* Markdown-produced HTML: Style code snippets with small indentation and
small border*/
pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}
