/*Remove big arse /unnecessary top-margin from icontabbar with no icons*/
.sapMITBHead.sapMITBInLine.sapMITBTextOnly{
    margin-top: 0px !important;
}

/*Style block quotes with identation and left border*/
blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}

/*Style code snippets with small indentation and faint border*/
pre {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
}
